
<link rel= "style sheet"type="text/css"href= "stylesheets/main.css"/>

padding: 250px 0;
	margin: 30px;
  font-family:'Trebuchet MS', Helvetica, sans-serif;
  background-image: url("https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjf0_iFndHPAhUS2mMKHSjwC9EQjRwIBw&url=http%3A%2F%2Fcolors.findthedata.com%2Fcompare%2F310-334%2FLight-Sky-Blue-vs-Baby-Blue-Eyes&psig=AFQjCNHZ911sYllzdHQgdMKKDobXRsZyAw&ust=1476222905952741");
  background-size: cover;
 



body{
height:100%;
margin: 0;
text-align: center;
width:100%;
}
