
html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  background-image: url('http://www.clipartbro.com/clipart-image/corner-scroll-design-images-backgrounds-high-r-25158-wallpaper-clipart-159024');
  background-position: center top;
  background-size: cover;
  margin: center;
}

.life
ul {
    list-style-type: none;
    margin: center;
    padding: 1;
}
